@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('~assets/fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Arkhip';
  src: url('~/assets/fonts/arkhip_font.ttf') format('truetype');
}